


body {
background-image: url("../images/AlphaBGRD.jpg")
}

.card {
    margin: auto;
    padding-bottom: 10px;
    margin-bottom: 40px;
    opacity: 0.8;
    background-color: #666699;
    color: #ffffff;
}

.container {
    margin: auto;
}
h6 {
    margin: auto;
    padding-bottom: 30px;
}

